@font-face {
    font-family: "Karla";
    src:
        /* chrome, firefox */
        local('Pacifico Regular'),
        local('Pacifico-Regular'),
        url('../fonts/Karla/Karla-Regular.ttf') format('truetype'),
        url('../fonts/Karla/Karla-Bold.ttf') format('truetype'),
        url('../fonts/Karla/Karla-Italic.ttf') format('truetype'),
        url('../fonts/Karla/Karla-BoldItalic.ttf') format('truetype');
    font-display: swap;
}

.karla {
    font-family: 'Karla' !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

.karla-bold {
    font-family: 'Karla' !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
}